<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Práctica realizada por: Álvaro Escobosa López</h1>
<a href="/">Inicio</a>
<a href="/quizzes">Quizzes</a><br><br>
<img src="https://www.gannett-cdn.com/-mm-/8df14407076208d7eb873520fdb92869e66379ee/c=193-0-1799-2856&r=583&c=0-0-580-1031/local/-/media/2016/01/21/USATODAY/usatsports/gty_474876710_73350140.jpg"/>
</body>
</html>
